<div class="container">
    <div class="left-side">
      <div class="profileText">
        <div class="imgbox">
          <img src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=2000" alt="" width="100%">
        </div>
        <h2 *ngFor="let i of childPosts">{{i}} <br><span>WebDeveloper</span></h2>
      </div>
  
      <!-- contact Info -->
      <div class="contactInfo"  >
        <h3 class="title">Contact Info</h3>
        <ul>
          <li *ngFor="let P of deatails">
            <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
            </span>
            <span class="text">{{P}}</span>
          </li>
    
          <li *ngFor="let M of Emails">
            <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
            <span class="text">{{M}}</span>
          </li>
      
          <li *ngFor="let R of Weblink">
            <span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </span>
            <span class="text">{{R}}</span>
          </li>
        </ul>
      </div>
  
      <!-- Education --> 
      <div class="contactInfo Education">
        <h3 class="title">Education</h3>
        <ul>
        <li>
          <h5>2017 - 2021</h5>
          <h4>Bachelor  degree in BSC[Maths]</h4>
          <h4>University Name</h4>
        </li>
        <li>
          <h5>2015 - 2017</h5>
          <h4>Intermidate[MPC]</h4>
          <h4>Collage Name</h4>
        </li>
        <li>
          <h5>2014 - 2015</h5>
          <h4>SSC</h4>
          <h4>SCHOOL Name</h4>
        </li>
        </ul>
      </div>
  
      <!-- Languages -->
      <div class="contactInfo Languages">
        <h3 class="title">Languages</h3>
        <ul>
          <li>
            <span class="text">English</span>
            <span class="percent">
              <div style="width: 90%;"></div>
            </span>
          </li>
          <li>
            <span class="text">Telugu</span>
            <span class="percent">
              <div style="width: 90%;"></div>
            </span>
          </li>
          <li>
            <span class="text">Spanish</span>
            <span class="percent">
              <div style="width: 40%;"></div>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="right-side">
      <div class="about">
        <h2 class="title2">Profile</h2>
        <p>Highly skilled and results-oriented professional with solid academic preparation holding a Juris Doctor degree and extensive experience in intelligence and special operations seeks position in risk management.  <br><br> Proven ability to assess and manage complex obstacles; viewed as a strong troubleshooter. Successful in intense and demanding environments, providing decisive team leadership and structure with a track record of motivating and developing soldiers. Willing to relocate.</p>
      </div>
      <div class="about">
        <h2 class="title2">Experience</h2>
        <div class="box">
          <div class="Year_company">
            <h5>2019 - 2021</h5>
            <h5>Company Name</h5>
          </div>
          <div class="text">
           <h4>Junior UI Developer</h4>
           <p>A UI developer's role is to translate creative software design concepts and ideas into reality using front end technology. They understand the user interface design solution both in its practical intent and creative vision, and convert it into engineered softwares.</p>
          </div>
        </div>
  
        <div class="box">
          <div class="Year_company">
            <h5>2019 - present</h5>
            <h5>Company Name</h5>
          </div>
          <div class="text">
           <h4>Junior UI Developer</h4>
           <p>A UI developer's role is to translate creative software design concepts and ideas into reality using front end technology. They understand the user interface design solution both in its practical intent and creative vision, and convert it into engineered softwares.</p>
          </div>
        </div>
      </div>
  
      <div class="about Skills">
        <h2>Professional Skills</h2>
        <div class="box">
          <h4>HTML</h4>
          <div class="percent">
            <div style="width: 95%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>CSS</h4>
          <div class="percent">
            <div style="width: 95%;"></div>
          </div>
        </div>
        <div class="box">
          <h4>JAVASCRIPT</h4>
          <div class="percent"><div style="width: 75%;"></div></div>
        </div>
        <div class="box">
          <h4>BOOTSTRAP</h4>
          <div class="percent"><div style="width: 85%;"></div></div>
        </div>
        <div class="box">
          <h4>ANGULAR</h4>
          <div class="percent"><div style="width: 95%;"></div></div>
        </div>
      </div>
    </div>
  </div>
  
  